
* {
    margin: 0;
    padding: 0;
}


.buttons {
    margin-top: 34px;
}
.buttons button{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}
.buttons button:hover{
    background-color: white;
    color: dodgerblue;
}

.contactform{
    padding: 0 34px;
    padding-top: 144px;
    font-family: "Fira Sans", sans-serif;
}
.contactform h1{
    font-family: "Source Code Pro", monospace;
    text-align: center;
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}
#emailHelp{
    font-size: 8px;
    color: midnightblue;
    margin: 0 5px;
}

#form-check{
    flex-direction: row;
}
#form-check input{
    width: 24px;
    margin: 3px 0;
}
.btn-sm{
    padding: 8px 12px;
    border-radius: 12px;
    color: white;
    background-color: #4681f4;
    font-weight: bold;
    font-size: 12px;
    margin: 10px 0;
    cursor: pointer;
}
